
.mainfont{
	font-family: 'Quicksand', sans-serif;	
	position: absolute;
	color: white;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 56px;
    text-shadow: 1px 1px rgba(41, 41, 45, 1);
    font-weight: 20px;
    
}

.titlefont{
	font-family: 'Quicksand', sans-serif;
	padding-right: 10px;
	font-size: 60px;
	font-weight: 3px;
}

.body{

	background-color: white;
}

.full-width {
	width: 100%;
	position:relative;
}
.height-full{
	height: 100%;
}

.aboutus-font1{
	text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 28px;
    margin-bottom: 42px;
}

.nolist{

	list-style-type: none;
	padding-left: 0px;
}

.address{
	padding-top: 134px;
}

.map{

	margin-bottom: 40px;
}
.property-images {
	width: 100%;
height: 400px;
}

.aboutus-font2{

	text-decoration: none;
    list-style-type: none;
    padding-bottom: 5px;
    margin-bottom: 37px;
    letter-spacing: 1px;

}
.fadein{
	animation-duration: 5s;

}

.properties{

text-decoration: none;
	list-style-type: none;
	letter-spacing: 1px;
}

.wapos{

	    box-shadow: -3px 6px 23px rgba(41, 41, 45, 0.3);
	    margin-bottom: 50px;
	    margin-top: 50px;
}

.navbar{

	background-color: rgb(73, 27, 24);
	color: white;
	position: relative;
	border-radius: 0px;
	margin-bottom: 0px;
}



.background-image{
	width: 100%;
	background-size: 100%;

}

.inline{
	display:inline-block;

}

.menu-right{
	 padding: 0px;
    margin: 0px;
}

.menu {

    vertical-align: center;
    padding: 19px;
}

.menuitem {
	padding: 0 10px;
	color: rgb(255,255,255);
}

.colour-red{

	color: rgb(73, 27, 24);
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
}

.colour-black{
	color: rgb(0,0,0);
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	padding: 3px;
    letter-spacing: 1px;
    font-weight: 5px;

}
.colour-white{
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: 5px;

}
.spoti{
	top: 50px;
}

/*section{
	padding-bottom: 10px;
	padding-top: 10px;

}*/

#about-us{
	background-color: white;
	padding: 50px;
}

.cin-background{
background-image: url("../img/cinemagraph1.gif");

background-position: center;
background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.cani-background{

	background-image: url("../img/Cani.jpeg");
	 min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 500px;
    background-attachment: fixed;
}



.no-padding{
	    padding: 0px;
    margin: 0px;
}


.jumbotron {
 min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/cinemagraph1.gif);
    height: 500px;
}

header {
 min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/cinemagraph1.gif);
    height: 100%;
    background-attachment: fixed;
}

#about-us{

	background-color: rgb(185, 173, 159);
}

#why-spain{

	height:990px;
	width: 100%;
}

.fullscreen-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.fullscreen-bg__video {
   /* top: 0;
    left: 0;*/
    width: 100%;
   /* height: 100%;*/
}

.property-bg{
	padding: 25px;
	background-color: rgb(185, 173, 159);
}

#book{
	background-color: rgb(185, 173, 159);
}


.videotext{
	background-color: rgba(255,255,255,0.7);
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
	padding:10px;
	position: absolute;
	top: 5%;
	left:5%;
	transform: translate(-10%,-10%);
	width: 25%;
	font-size: 20px;

}

.button{
	background-color: rgb(73, 27, 24);
}
